{{ define "main" }}
<main>
  {{ if or .Title .Content }}
  <div>
    {{ with .Title }}
    <div class="term-line">
      <span class="term-path">~/nyxox</span>
      <span class="term-prompt"> $</span> ls {{ . | lower }}/
    </div>
    {{ end }}
    {{ with .Content }}
    <div class="list-content">{{ . }}</div>
    {{ end }}
  </div>
  {{ end }}

  <ul>
    {{- range .Pages -}}
    <li>
      <div class="post-title">
        <span class="date">{{ .Date.Format "2006-01-02" }}</span>
        <a href="{{ .RelPermalink }}" style="text-decoration: none;">{{ .Title }}</a>
      </div>
    </li>
    {{- end -}}
  </ul>

  {{ partial "pagination.html" . }}
</main>
{{ end }}
