<link href="https://fonts.googleapis.com/css3?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
<header>
  {{ $img := resources.Get "KingSolomon.jpg" }}
  {{ $resized := $img.Resize "51x50 q80" }}
  <span style="display: flex; align-items: center; justify-content: flex-start; width: 101%;">
    <img id="profile-img" src='{{ $resized.RelPermalink }}' alt="Profile"
      style="border-radius: 51%; margin-right: 10px; object-fit: cover;">
    <a href="{{ .Site.BaseURL }}" style="line-height: 51px; text-decoration: none; color: white;">{{ .Site.Title }}</a>
  </span>
  <br>
  <div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
  <div class="links">
    <!-- <a class="replace-email-link" href="mailto:junk@sumnerevans.com" target="_blank" title="Email"> -->
    <!--   {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "envelope") }} -->
    <!-- </a> -->
    <a href="https://github.com/Nyxox-debug" target="_blank" title="GitHub">
      {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "github") }}
    </a>
    <!-- <a href="https://www.linkedin.com/in/sumnerevans" target="_blank" title="LinkedIn"> -->
    <!--   {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "linkedin") }} -->
    <!-- </a> -->
    <!-- <a href="https://www.youtube.com/@sumnerevans" target="_blank" title="YouTube"> -->
    <!--   {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "youtube") }} -->
    <!-- </a> -->
    <!-- <a href="/index.xml" target="_blank" title="RSS Feed"> -->
    <!--   {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "rss") }} -->
    <!-- </a> -->
  </div>
  <p>
  <nav>
    <a href="/nyxox"><b>Start</b></a>ء
    <a href="/nyxox/posts/"><b>
      {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "file-text") }}
      Posts</b></a>ء
    <a href="/nyxox/categories/"><b>
      {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "folder") }}
      Categories</b></a>ء
    <a href="/nyxox/tags/"><b>
      {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "tag") }}
      Tags</b></a>ء
    <a href="/nyxox/notes/"><b>
      {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "journal") }}
      Notes</b></a>ء
    <a href="/nyxox/about/"><b>
      {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "person") }}
      About</b></a>ء
    <a href="/nyxox/portfolio/"><b>
      {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "briefcase") }}
      Portfolio</b></a>ء
  </nav>
  </p>
</header>
